<div class="container">
  <h3  class="text-center mt-4">Patient List</h3>
  <div class="row">
    <a href="/patient/add" role="button" class="btn btn-primary ml-auto font-weight-bold px-4">Add New Patient</a>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Given name</th>
        <th>Family name</th>
        <th>Birthdate</th>
        <th>Sex</th>
        <th>Postal address</th>
        <th>Phone number</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="patient : ${patients}">
        <td th:text="${patient.given}"></td>
        <td th:text="${patient.family}"></td>
        <td th:text="${patient.dob}"></td>
        <td th:text="${patient.sex}"></td>
        <td th:text="${patient.address}"></td>
        <td th:text="${patient.phone}"></td>
        <td class="text-center">
          <a th:href="@{/patient/update/{id}(id=${patient.id})}">Edit</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
