<div class="container">
  <h3  class="text-center mt-4">Patient List</h3>
  <div class="row">
    <a routerLink="/add-patient" role="button" class="btn btn-primary ml-auto font-weight-bold px-4">Add New Patient</a>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="text-center">Given name</th>
          <th class="text-center">Family name</th>
          <th class="text-center">Birthdate</th>
          <th class="text-center">Sex</th>
          <th class="text-center">Postal address</th>
          <th class="text-center">Phone number</th>
          <th class="text-center">Action</th>
          <th class="text-center">notes</th>
          <th class="text-center">Diabete report</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let patient of patients;">
          <td>{{ patient.given }}</td>
          <td>{{ patient.family }}</td>
          <td>{{ patient.dob }}</td>
          <td>{{ patient.sex }}</td>
          <td>{{ patient.address }}</td>
          <td>{{ patient.phone }}</td>
          <td class="text-center">
            <button class="btn btn-primary" (click)="goToEdit(patient.id)">Edit</button>
            &nbsp;
            <button class="btn btn-danger" (click)="goToDelete(patient.id)">Delete</button>
          </td>
          <td class="text-center">
            <button (click)="goToNotes(patient.id)">See notes</button>
          </td>
          <td class="text-center">
            <button (click)="goToReport(patient.id)">See report</button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
